#countdown {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    text-align: center;
    margin: auto;
}
#countdown .box p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
#countdown .box .text {
    font-size: 15px;
}

@media screen and (min-width: 1024px) {
    #countdown .box {
        max-width: 80%;
    }
}