@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  background-image: url('gs-bg.jpg');
  background-position: top top;
  background-size: cover;
  margin: 0;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgb(55, 55, 70);
  background: linear-gradient(
    0deg,
    rgba(55, 55, 70, 1) 0%,
    rgba(55, 55, 70, 1) 50%,
    rgba(55, 55, 70, 0.6) 100%
  );
}

h1 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
}
